version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: taskmanager-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./server
    container_name: taskmanager-backend
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      MONGO_URI: mongodb://mongo:27017/taskdb
    command: ["npm", "run", "dev"]

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: taskmanager-frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      vite_port: 3000
    command: ["npm", "run", "dev"]

volumes:
  mongo_data:
