version: "3.9"

services:
  backend:
    build: .
    container_name: taskmanager-backend
    restart: always
    env_file: .env.stage
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - ./logs:/app/logs

  mongo:
    image: mongo:7
    container_name: taskmanager-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
